In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
PATH = r'C:\chromedriver\chromedriver.exe'

# Question 1 Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.maximize_window()

In [6]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [49]:
# Scrape 

r = driver.find_elements(By.XPATH,"//td[1]")  
Rank=[]

for i in r[:30]:
    Rank.append(i.text)
    
Rank

['',
 '1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.']

In [50]:
# Scrape Song Na

s = driver.find_elements(By.XPATH,"//td[2]/a")  #//td[2]/a
Song=[]

for i in s[:30]:
    Song.append(i.text)
    
Song

['Baby Shark Dance',
 'Despacito',
 'Johny Johny Yes Papa',
 'Shape of You',
 'See You Again',
 'Wheels on the Bus',
 'Uptown Funk',
 'Gangnam Style',
 'Dame Tu Cosita',
 'Axel F',
 'Sugar',
 'Counting Stars',
 'Roar',
 'Baa Baa Black Sheep',
 'Waka Waka (This Time for Africa)',
 'Sorry',
 'Lakdi Ki Kathi',
 'Thinking Out Loud',
 'Dark Horse',
 'Humpty the train on a fruits ride',
 'Perfect',
 'Faded',
 'Let Her Go',
 'Girls Like You',
 'Lean On',
 'Bailando',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'Wiz Khalifa',
 'Psy']

In [51]:
# Scrape Artist

a = driver.find_elements(By.XPATH,"//td[3]")  
Artist=[]

for i in a[:30]:
    Artist.append(i.text)
    
Artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Miroshka TV',
 'officialpsy',
 'Get Movies',
 'Ultra Records',
 'Crazy Frog',
 'Maroon 5',
 'OneRepublic',
 'Katy Perry',
 'Cocomelon - Nursery Rhymes',
 'Shakira',
 'Justin Bieber',
 'Jingle Toons',
 'Ed Sheeran',
 'Katy Perry',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 'Ed Sheeran',
 'Alan Walker',
 'Passenger',
 'Maroon 5',
 'Major Lazer Official',
 'Enrique Iglesias']

In [52]:
# Scrape Upload date

d = driver.find_elements(By.XPATH,"//td[5]")  
Date=[]

for i in d[:30]:
    Date.append(i.text)
    
Date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'May 24, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'June 16, 2009',
 'January 14, 2015',
 'May 31, 2013',
 'September 5, 2013',
 'June 25, 2018',
 'June 4, 2010',
 'October 22, 2015',
 'June 14, 2018',
 'October 7, 2014',
 'February 20, 2014',
 'January 26, 2018',
 'November 9, 2017',
 'December 3, 2015',
 'July 25, 2012',
 'May 31, 2018',
 'March 22, 2015',
 'April 11, 2014']

In [53]:
# Scrape Views

v = driver.find_elements(By.XPATH,"//td[4]")  
Views=[]

for i in v[:30]:
    Views.append(i.text)
    
Views

['13.36',
 '8.26',
 '6.80',
 '6.41',
 '6.08',
 '6.03',
 '5.56',
 '5.48',
 '5.03',
 '4.97',
 '4.90',
 '4.56',
 '4.44',
 '4.06',
 '3.93',
 '3.87',
 '3.87',
 '3.78',
 '3.73',
 '3.71',
 '3.69',
 '3.66',
 '3.59',
 '3.55',
 '3.54',
 '3.51',
 '3.51',
 '3.48',
 '3.46',
 '3.45']

In [54]:
print(len(Rank),len(Song),len(Artist),len(Date),len(Views))

30 30 30 30 30

In [55]:
# Creating DataFrame

import pandas as pd

df=pd.DataFrame()

df['Rank']=Rank[:30]
df['Song Name']=Song[:30]
df['Artist Name']=Artist[:30]
df['Upload Date']=Date[:30]
df['Views']=Views[:30]
df

,Rank,Song Name,Artist Name,Upload Date,Views
0,,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.36
1,1.,Despacito,Luis Fonsi,"January 12, 2017",8.26
2,2.,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.80
3,3.,Shape of You,Cocomelon - Nursery Rhymes,"May 2, 2018",6.41
4,4.,See You Again,Ed Sheeran,"January 30, 2017",6.08
5,5.,Wheels on the Bus,Wiz Khalifa,"April 6, 2015",6.03
6,6.,Uptown Funk,Cocomelon - Nursery Rhymes,"May 24, 2018",5.56
7,7.,Gangnam Style,ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.48
8,8.,Dame Tu Cosita,Mark Ronson,"November 19, 2014",5.03
9,9.,Axel F,Miroshka TV,"February 27, 2018",4.97
10,10.,Sugar,officialpsy,"July 15, 2012",4.90
11,11.,Counting Stars,Get Movies,"January 31, 2012",4.56
12,12.,Roar,Ultra Records,"April 5, 2018",4.44
13,13.,Baa Baa Black Sheep,Crazy Frog,"June 16, 2009",4.06
14,14.,Waka Waka (This Time for Africa),Maroon 5,"January 14, 2015",3.93
15,15.,Sorry,OneRepublic,"May 31, 2013",3.87
16,16.,Lakdi Ki Kathi,Katy Perry,"September 5, 2013",3.87
17,17.,Thinking Out Loud,Cocomelon - Nursery Rhymes,"June 25, 2018",3.78
18,18.,Dark Horse,Shakira,"June 4, 2010",3.73
19,19.,Humpty the train on a fruits ride,Justin Bieber,"October 22, 2015",3.71
20,20.,Perfect,Jingle Toons,"June 14, 2018",3.69
21,21.,Faded,Ed Sheeran,"October 7, 2014",3.66
22,22.,Let Her Go,Katy Perry,"February 20, 2014",3.59
23,23.,Girls Like You,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.55
24,24.,Lean On,Ed Sheeran,"November 9, 2017",3.54
25,25.,Bailando,Alan Walker,"December 3, 2015",3.51
26,26.,Pinkfong Baby Shark - Kids' Songs & Stories,Passenger,"July 25, 2012",3.51
27,27.,Luis Fonsi,Maroon 5,"May 31, 2018",3.48
28,28.,Wiz Khalifa,Major Lazer Official,"March 22, 2015",3.46
29,29.,Psy,Enrique Iglesias,"April 11, 2014",3.45

In [56]:
driver.close()

# Question 2. Scrape the details team India’s international fixtures from bcci.tv.

In [4]:
driver = webdriver.Chrome()

In [7]:
driver.maximize_window()

In [8]:
url = 'https://www.bcci.tv/'
driver.get(url)

In [9]:
click=driver.find_element(By.XPATH,"//*[@id='navigation']/ul[1]/li[2]/a")

In [10]:
click.click()

In [11]:
# Scrape all Match title

m = driver.find_elements(By.XPATH,"//h5[@class='match-tournament-name ng-binding']")
Match=[]

for i in m:
    Match.append(i.text)
    
Match

['ASIA CUP 2023',
 'ASIA CUP 2023',
 '19TH ASIAN GAMES 2023',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'ICC MENS WORLD CUP 2023 WARM-UP MATCHES',
 '19TH ASIAN GAMES 2023']

In [12]:
# Scrape Series

s = driver.find_elements(By.XPATH,"//*[@id='match-card']/div[3]/div/span[1]")

Series=[]

for i in s:
    Series.append(i.text)
    
Series

['5th ODI -',
 'Final -',
 '1st T20I -',
 '1st ODI -',
 '2nd ODI -',
 '3rd ODI -',
 '1st ODI -',
 '1st T20I -']

In [13]:
# Scrape Place name

p = driver.find_elements(By.XPATH,"//span[@class='ng-binding ng-scope']")

Place=[]

for i in p:
    Place.append(i.text)
    
Place

['R Premadasa International Stadium,',
 'R Premadasa International Stadium,',
 'Pingfeng Cricket Field,',
 'Punjab Cricket Association IS Bindra Stadium,',
 'Holkar Cricket Stadium,',
 'Saurashtra Cricket Association Stadium,',
 'Barsapara Cricket Stadium,',
 'Pingfeng Cricket Field,']

In [14]:
# Scrape Date

d = driver.find_elements(By.XPATH,"//div[@class='match-dates ng-binding']")
Date=[]

for i in d:
    Date.append(i.text)
    
Date

['15 SEP 2023',
 '17 SEP 2023',
 '21 SEP 2023',
 '22 SEP 2023',
 '24 SEP 2023',
 '27 SEP 2023',
 '30 SEP 2023',
 '3 OCT 2023']

In [15]:
# Scrape Time

t = driver.find_elements(By.XPATH,"//div[@class='match-time no-margin ng-binding']")
Time=[]

for i in t:
    Time.append(i.text)
    
Time

['3:00 PM IST',
 '3:00 PM IST',
 '6:30 AM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '2:00 PM IST',
 '6:30 AM IST']

In [16]:
print(len(Match),len(Series),len(Place),len(Date),len(Time))

8 8 8 8 8

In [17]:
#Creating DataFrame

df=pd.DataFrame()
df['Match']=Match[:16]
df['Series']=Series[:16]
df['Place']=Place[:16]
df['Date']=Date[:16]
df['Time']=Time[:16]    
df

,Match,Series,Place,Date,Time
0,ASIA CUP 2023,5th ODI -,"R Premadasa International Stadium,",15 SEP 2023,3:00 PM IST
1,ASIA CUP 2023,Final -,"R Premadasa International Stadium,",17 SEP 2023,3:00 PM IST
2,19TH ASIAN GAMES 2023,1st T20I -,"Pingfeng Cricket Field,",21 SEP 2023,6:30 AM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,1st ODI -,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,1:30 PM IST
4,AUSTRALIA TOUR OF INDIA 2023-24,2nd ODI -,"Holkar Cricket Stadium,",24 SEP 2023,1:30 PM IST
5,AUSTRALIA TOUR OF INDIA 2023-24,3rd ODI -,"Saurashtra Cricket Association Stadium,",27 SEP 2023,1:30 PM IST
6,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,1st ODI -,"Barsapara Cricket Stadium,",30 SEP 2023,2:00 PM IST
7,19TH ASIAN GAMES 2023,1st T20I -,"Pingfeng Cricket Field,",3 OCT 2023,6:30 AM IST

In [18]:
driver.close()

# Question 3 Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/

In [5]:
driver = webdriver.Chrome()

In [6]:
url='https://www.statisticstimes.com/'
driver.get(url)

In [7]:
driver.maximize_window()

In [8]:
btn = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")  
btn.click()

In [9]:
i = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/div/a[3]")
i.click()

In [10]:
gdp = driver.find_element(By.XPATH,"//div[2]/ul/li/a")
gdp.click()

In [13]:
# Scrape rank

r = driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[1]")
Rank=[]
                     
for i in r:
    Rank.append(i.text)
    
Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [14]:
# Scrape state Name

s = driver.find_elements(By.XPATH,"//div[5]/div/div/table/tbody/tr/td[2]")
State=[]
                     
for i in s:
    State.append(i.text)
    
State

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [21]:
# Scrape GSDP(18-19)- at current prices

g = driver.find_elements(By.XPATH,"//div[5]/div/div/table/tbody/tr/td[4]")
GDP18=[]
                     
for i in g:
    GDP18.append(i.text)
    
GDP18

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [22]:
# Scrape GSDP(19-20)- at current prices

g1 = driver.find_elements(By.XPATH,"//div[5]/div/div/table/tbody/tr/td[3]")
GDP19=[]
                     
for i in g1:
    GDP19.append(i.text)
    
GDP19

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [30]:
# Scrape Share(18-19)

s = driver.find_elements(By.XPATH,"//div[5]/div/div/table/tbody/tr/td[5]")
Share=[]
                     
for i in s:
    Share.append(i.text)
    
Share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [31]:
# Scrape GDP($ billion)

b = driver.find_elements(By.XPATH,"//div[5]/div/div/table/tbody/tr/td[6]")
GDP=[]
                     
for i in b:
    GDP.append(i.text)
    
GDP

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [32]:
print(len(Rank),len(State),len(GDP18),len(GDP19),len(Share),len(GDP))

33 33 33 33 33 33

In [36]:
# Creating DataFrame

import pandas as pd

df=pd.DataFrame()

df['Rank']=Rank[:33]
df['State']=State[:33]
df['GDP18']=GDP18[:33]
df['GDP19']=GDP19[:33]
df['Share']=Share[:33]
df['GDP']=GDP[:33]
df

   Rank                      State      GDP18      GDP19   Share      GDP
0     1                Maharashtra  2,632,792          -  13.94%  399.921
1     2                 Tamil Nadu  1,630,208  1,845,853   8.63%  247.629
2     3              Uttar Pradesh  1,584,764  1,687,818   8.39%  240.726
3     4                    Gujarat  1,502,899          -   7.96%  228.290
4     5                  Karnataka  1,493,127  1,631,977   7.91%  226.806
5     6                West Bengal  1,089,898  1,253,832   5.77%  165.556
6     7                  Rajasthan    942,586  1,020,989   4.99%  143.179
7     8             Andhra Pradesh    862,957    972,782   4.57%  131.083
8     9                  Telangana    861,031    969,604   4.56%  130.791
9    10             Madhya Pradesh    809,592    906,672   4.29%  122.977
10   11                     Kerala    781,653          -   4.14%  118.733
11   12                      Delhi    774,870    856,112   4.10%  117.703
12   13                    Haryana    734,163    831,610   3.89%  111.519
13   14                      Bihar    530,363    611,804   2.81%   80.562
14   15                     Punjab    526,376    574,760   2.79%   79.957
15   16                     Odisha    487,805    521,275   2.58%   74.098
16   17                      Assam    315,881          -   1.67%   47.982
17   18               Chhattisgarh    304,063    329,180   1.61%   46.187
18   19                  Jharkhand    297,204    328,598   1.57%   45.145
19   20                Uttarakhand    245,895          -   1.30%   37.351
20   21            Jammu & Kashmir    155,956          -   0.83%   23.690
21   22           Himachal Pradesh    153,845    165,472   0.81%   23.369
22   23                        Goa     73,170     80,449   0.39%   11.115
23   24                    Tripura     49,845     55,984   0.26%    7.571
24   25                 Chandigarh     42,114          -   0.22%    6.397
25   26                 Puducherry     34,433     38,253   0.18%    5.230
26   27                  Meghalaya     33,481     36,572   0.18%    5.086
27   28                     Sikkim     28,723     32,496   0.15%    4.363
28   29                    Manipur     27,870     31,790   0.15%    4.233
29   30                   Nagaland     27,283          -   0.14%    4.144
30   31          Arunachal Pradesh     24,603          -   0.13%    3.737
31   32                    Mizoram     22,287     26,503   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

In [37]:
driver.close()

# Question 4 Scrape the details of trending repositories on Github.com.Url = https://github.com/

In [28]:
driver = webdriver.Chrome()

In [29]:
url='https://github.com/'
driver.get(url)

In [30]:
driver.maximize_window()

In [31]:
search=driver.find_element(By.XPATH,"//span[@class='flex-1']")
search.click()

In [33]:
insert=driver.find_element(By.XPATH,"//input[@id='query-builder-test']")

In [34]:
insert.send_keys("Trending Repository")

In [36]:
btn = driver.find_element(By.XPATH,"//span[@class='ActionListItem-descriptionWrap']")
btn.click()

In [66]:
# Scrape Repository titles

r = driver.find_elements(By.XPATH,"//span[@class='Text-sc-17v1xeu-0 qaOIC search-match']")

Repository=[]
for i in r:
    Repository.append(i.text)
        
        
Repository

['QasimWani/LeetHub',
 'vitalets/github-trending-repos',
 'mbadry1/Trending-Deep-Learning',
 'laowch/GithubTrends',
 'ophobe/trending',
 'zhuowenli/githuber',
 'andygrunwald/TrendingGithub',
 'andygrunwald/go-trending',
 'karlrupp/microprocessor-trend-data',
 'ecrmnn/trending-github']

In [69]:
start=0
end=10
Repository=[]
for page in range(start,end):
    r = driver.find_elements(By.XPATH,"//span[@class='Text-sc-17v1xeu-0 qaOIC search-match']")
    for i in r:
          Repository.append(i.text)
    nxtbtn = driver.find_element(By.XPATH,"//a[8]")
    nxtbtn.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[8]"}
  (Session info: chrome=116.0.5845.190); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF7900852A2+57122]
	(No symbol) [0x00007FF78FFFEA92]
	(No symbol) [0x00007FF78FECE3AB]
	(No symbol) [0x00007FF78FF07D3E]
	(No symbol) [0x00007FF78FF07E2C]
	(No symbol) [0x00007FF78FF40B67]
	(No symbol) [0x00007FF78FF2701F]
	(No symbol) [0x00007FF78FF3EB82]
	(No symbol) [0x00007FF78FF26DB3]
	(No symbol) [0x00007FF78FEFD2B1]
	(No symbol) [0x00007FF78FEFE494]
	GetHandleVerifier [0x00007FF79032EF82+2849794]
	GetHandleVerifier [0x00007FF790381D24+3189156]
	GetHandleVerifier [0x00007FF79037ACAF+3160367]
	GetHandleVerifier [0x00007FF790116D06+653702]
	(No symbol) [0x00007FF79000A208]
	(No symbol) [0x00007FF7900062C4]
	(No symbol) [0x00007FF7900063F6]
	(No symbol) [0x00007FF78FFF67A3]
	BaseThreadInitThunk [0x00007FFCF6E47344+20]
	RtlUserThreadStart [0x00007FFCF8CE26B1+33]

In [72]:
# Scrape Repository description

d= driver.find_elements(By.XPATH,"//div[4]/div/div/div/div/div/div/span")


Description=[]

for i in d:
    Description.append(i.text)
        
        
Description

['❗ This is a read-only mirror of the CRAN R package repository. sta — Seasonal Trend Analysis for Time Series Imagery in R',
 'Welcome to my data analysis portfolio! This repository showcases a collection of my data analysis projects, where I explore various datas…',
 'This repository contains a Power BI solution for AtliQ hardware, enabling comprehensive analysis of sales trends, informed decision-makin…',
 'Technical Analysis of Currency Pairs in Forex environment. This repository is will be part of future implementation of AI & ML algorithms…',
 '❗ This is a read-only mirror of the CRAN R package repository. CATTexact — Computation of the p-Value for the Exact Conditional Cochran-A…',
 'This repository holds the code for CSSS 510 MLE final Project. My code takes care of data pipeline and propensity trend examination part …',
 'This repository contains code and information on how the TrEnD_Lab conducts exploratory metabarcoding data analysis. R and shell are used…',
 'this repository write the thing that I learn today. I promise that I write it everyday. I focus on time series theory and hadoop ecosystem …',
 'This repository is a personal project to look for trends in Covid-19. The numbers are sourced from publicly available data.',
 'This repository shows how Python can be used to see the moving average trends for Covid-19 deaths, testing, and hospitalizations in Maryl…']

In [ ]:
# Scrape Contribution Count

c= driver.find_elements(By.XPATH,"//div[4]/div/div/div/div/div/div/span")


Contribution=[]

for i in c:
    Contribution.append(i.text)
        
        
Contribution

In [75]:
# Scrape Language Used

l= driver.find_elements(By.XPATH,"//span[@class='Text-sc-17v1xeu-0 gPDEWA']")


Language=[]

for i in l:
    Language.append(i.text)
        
        
Language

['',
 '',
 '1.6k',
 '',
 '',
 '4k',
 '',
 '',
 '128k',
 '',
 '',
 '174',
 '',
 '',
 '4',
 '',
 '',
 '',
 'R',
 '0',
 'Updated on Mar 15',
 'on Mar 15',
 '0',
 'Updated on Jul 15',
 'on Jul 15',
 '1',
 'Updated on Jun 5',
 'on Jun 5',
 '0',
 'Updated on Aug 4',
 'on Aug 4',
 'R',
 '0',
 'Updated on Jul 2, 2020',
 'on Jul 2, 2020',
 'R',
 '0',
 'Updated on Mar 23, 2017',
 'on Mar 23, 2017',
 'HTML',
 '0',
 'Updated on Nov 22, 2018',
 'on Nov 22, 2018',
 '0',
 'Updated on Sep 17, 2020',
 'on Sep 17, 2020',
 'Jupyter Notebook',
 '0',
 'Updated on Dec 24, 2020',
 'on Dec 24, 2020',
 'Jupyter Notebook',
 '0',
 'Updated on Dec 4, 2020',
 'on Dec 4, 2020',
 '',
 'Press the / key to activate the search input again and adjust your query.']

# Question 5 Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:

In [4]:
driver = webdriver.Chrome()

In [5]:
url='https://www.billboard.com/'
driver.get(url)

In [6]:
driver.maximize_window()

In [7]:
# Click on Charts link

c = driver.find_element(By.XPATH,"(//a[contains(text(),'Charts')])[2]")

c.click()

In [8]:
b = driver.find_element(By.XPATH,"//a[contains(text(),'Billboard Hot 100')]")
b.click()

In [14]:
# Scrape Song name

s = driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")   
Song=[]

for i in s:
    Song.append(i.text)
    
Song

['I Remember Everything',
 'Fast Car',
 'Cruel Summer',
 'Last Night',
 'Dance The Night',
 'Snooze',
 'Fukumean',
 'Vampire',
 'Calm Down',
 'Rich Men North Of Richmond',
 'Barbie World',
 'Flowers',
 'All My Life',
 'Religiously',
 'Used To Be Young',
 'Hey Driver',
 'Need A Favor',
 "Thinkin' Bout Me",
 'Anti-Hero',
 'Kill Bill',
 'What Was I Made For?',
 'Last Time I Saw You',
 'Karma',
 "Creepin'",
 'Bad Idea Right?',
 'Meltdown',
 'Dial Drunk',
 'Tourniquet',
 'Try That In A Small Town',
 'Qlona',
 'Love You Anyway',
 'Watermelon Moonshine',
 'I Know ?',
 'Spotless',
 'Bury Me In Georgia',
 'Seven',
 'Margaritaville',
 'Single Soon',
 'East Side Of Sorrow',
 'What It Is (Block Boy)',
 'Daylight',
 'Mi Ex Tenia Razon',
 'LaLa',
 'Cupid',
 'Demons',
 'Lady Gaga',
 "Fear And Friday's",
 'El Dorado',
 'Telekinesis',
 'Peaches & Eggplants',
 'Ticking',
 "Summertime's Close",
 'FE!N',
 'Overtime',
 'Come See Me',
 'White Horse',
 'Good Good',
 'Truck Bed',
 'Deli',
 'Que Onda',
 'Standing Room Only',
 'Smaller Acts',
 'Everything I Love',
 'In Your Love',
 'Popular',
 'SkeeYee',
 'Put It On Da Floor Again',
 'Holy Roller',
 'Sabor Fresa',
 'Tulum',
 'Where She Goes',
 "Angels Don't Always Have Wings",
 'K-POP',
 'Johnny Dang',
 'Oh U Went',
 'Dawns',
 "Jake's Piano - Long Island",
 'Save Me',
 'Oklahoma Smoke Show',
 'Lose Control',
 'Tradesman',
 'Shake Sumn',
 'Keep Going Up!',
 'Area Codes',
 "Sittin' On Top Of The World",
 'Pretty Little Poison',
 'Oklahoman Son',
 'TQM',
 'See You Again',
 'Amargura',
 'Girl In Mine',
 'El Amor de Su Vida',
 'Summer Too Hot',
 'Rubicon',
 'Stand By Me',
 'Call Your Friends',
 'Your Heart Or Mine',
 'Primera Cita',
 'S91']

In [21]:
# Scrpae Artist name

a = driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")

Artist=[]

for i in a:
    Artist.append(i.text)
    
Artist

['Zach Bryan Featuring Kacey Musgraves',
 'Luke Combs',
 'Taylor Swift',
 'Morgan Wallen',
 'Dua Lipa',
 'SZA',
 'Gunna',
 'Olivia Rodrigo',
 'Rema & Selena Gomez',
 'Oliver Anthony Music',
 'Nicki Minaj & Ice Spice With Aqua',
 'Miley Cyrus',
 'Lil Durk Featuring J. Cole',
 'Bailey Zimmerman',
 'Miley Cyrus',
 'Zach Bryan Featuring The War And Treaty',
 'Jelly Roll',
 'Morgan Wallen',
 'Taylor Swift',
 'SZA',
 'Billie Eilish',
 'Nicki Minaj',
 'Taylor Swift Featuring Ice Spice',
 'Metro Boomin, The Weeknd & 21 Savage',
 'Olivia Rodrigo',
 'Travis Scott Featuring Drake',
 'Noah Kahan With Post Malone',
 'Zach Bryan',
 'Jason Aldean',
 'Karol G & Peso Pluma',
 'Luke Combs',
 'Lainey Wilson',
 'Travis Scott',
 'Zach Bryan Featuring The Lumineers',
 'Kane Brown',
 'Jung Kook Featuring Latto',
 'Jimmy Buffett',
 'Selena Gomez',
 'Zach Bryan',
 'Doechii Featuring Kodak Black',
 'David Kushner',
 'Karol G',
 'Myke Towers',
 'Fifty Fifty',
 'Doja Cat',
 'Peso Pluma, Gabito Ballesteros & Junior H',
 'Zach Bryan',
 'Zach Bryan',
 'Travis Scott Featuring SZA & Future',
 'Young Nudy Featuring 21 Savage',
 'Zach Bryan',
 'Zach Bryan',
 'Travis Scott Featuring Playboi Carti',
 'Zach Bryan',
 'Rod Wave',
 'Chris Stapleton',
 'Usher, Summer Walker & 21 Savage',
 'HARDY',
 'Ice Spice',
 'Calle 24 x Chino Pacas x Fuerza Regida',
 'Tim McGraw',
 'Zach Bryan',
 'Morgan Wallen',
 'Tyler Childers',
 'The Weeknd, Playboi Carti & Madonna',
 'Sexyy Red',
 'Latto Featuring Cardi B',
 'Zach Bryan Featuring Sierra Ferrell',
 'Fuerza Regida',
 'Peso Pluma & Grupo Frontera',
 'Bad Bunny',
 'Thomas Rhett',
 'Travis Scott, Bad Bunny & The Weeknd',
 'That Mexican OT, Paul Wall & DRODi',
 'Young Thug Featuring Drake',
 'Zach Bryan Featuring Maggie Rogers',
 'Zach Bryan',
 'Jelly Roll With Lainey Wilson',
 'Zach Bryan',
 'Teddy Swims',
 'Zach Bryan',
 'DaBaby',
 'Timbaland, Nelly Furtado & Justin Timberlake',
 'Kaliii',
 'Burna Boy',
 'Warren Zeiders',
 'Zach Bryan',
 'Fuerza Regida',
 'Tyler, The Creator Featuring Kali Uchis',
 'Karol G',
 'Parmalee',
 'Grupo Frontera & Grupo Firme',
 'Chris Brown',
 'Peso Pluma',
 'Lil Durk Featuring Morgan Wallen',
 'Rod Wave',
 'Jon Pardi',
 'Carin Leon',
 'Karol G']

In [23]:
# Scrpae Last week rank

last = driver.find_elements(By.XPATH,"//li[4]/span")
Last_Week_Rank=[]

for i in last[:99]:
    Last_Week_Rank.append(i.text)
    
Last_Week_Rank

['3',
 '',
 '1',
 '',
 '2',
 '',
 '5',
 '',
 '4',
 '',
 '9',
 '',
 '7',
 '',
 '10',
 '',
 '12',
 '',
 '11',
 '',
 '6',
 '',
 '13',
 '',
 '15',
 '',
 '16',
 '',
 '21',
 '',
 '8',
 '',
 '14',
 '',
 '26',
 '',
 '34',
 '',
 '32',
 '',
 '27',
 '',
 '30',
 '',
 '-',
 '',
 '25',
 '',
 '33',
 '',
 '35',
 '',
 '36',
 '',
 '42',
 '',
 '20',
 '',
 '45',
 '',
 '43',
 '',
 '40',
 '',
 '46',
 '',
 '49',
 '',
 '17',
 '',
 '51',
 '',
 '28',
 '',
 '-',
 '',
 '19',
 '',
 '18',
 '',
 '53',
 '',
 '52',
 '',
 '50',
 '',
 '54',
 '',
 '48',
 '',
 '-',
 '',
 '56',
 '',
 '24',
 '',
 '31',
 '',
 '55']

In [22]:
# Scrpae Peak rank

r = driver.find_elements(By.XPATH,"//li[5]/span")
Peak_Rank=[]

for i in r[:99]:
    Peak_Rank.append(i.text)
    
Peak_Rank

['1',
 '',
 '1',
 '',
 '2',
 '',
 '3',
 '',
 '1',
 '',
 '6',
 '',
 '7',
 '',
 '4',
 '',
 '1',
 '',
 '3',
 '',
 '1',
 '',
 '7',
 '',
 '1',
 '',
 '2',
 '',
 '14',
 '',
 '8',
 '',
 '14',
 '',
 '14',
 '',
 '9',
 '',
 '1',
 '',
 '1',
 '',
 '14',
 '',
 '23',
 '',
 '2',
 '',
 '3',
 '',
 '10',
 '',
 '3',
 '',
 '25',
 '',
 '20',
 '',
 '1',
 '',
 '28',
 '',
 '15',
 '',
 '33',
 '',
 '11',
 '',
 '17',
 '',
 '34',
 '',
 '1',
 '',
 '8',
 '',
 '19',
 '',
 '18',
 '',
 '41',
 '',
 '40',
 '',
 '22',
 '',
 '43',
 '',
 '17',
 '',
 '46',
 '',
 '35',
 '',
 '24',
 '',
 '31',
 '',
 '26']

In [24]:
# Scrpae Weeks on board

b = driver.find_elements(By.XPATH,"//li[6]/span")
Board=[]

for i in b[:99]:
    Board.append(i.text)
    
Board

['5',
 '2',
 '24',
 '18',
 '32',
 '15',
 '39',
 '12',
 '10',
 '53',
 '4',
 '11',
 '34',
 '17',
 '18',
 '2',
 '2',
 '23',
 '27',
 '46',
 '39',
 '8',
 '1',
 '26',
 '40',
 '4',
 '6',
 '12',
 '2',
 '8',
 '4',
 '30',
 '11',
 '6',
 '2',
 '17',
 '8',
 '23',
 '2',
 '2',
 '18',
 '21',
 '4',
 '9',
 '25',
 '1',
 '11',
 '2',
 '2',
 '6',
 '14',
 '2',
 '2',
 '6',
 '2',
 '1',
 '7',
 '4',
 '12',
 '7',
 '1',
 '3',
 '2',
 '28',
 '6',
 '14',
 '1',
 '14',
 '2',
 '11',
 '10',
 '16',
 '7',
 '7',
 '8',
 '11',
 '19',
 '2',
 '12',
 '7',
 '4',
 '2',
 '16',
 '1',
 '18',
 '2',
 '4',
 '2',
 '16',
 '20',
 '4',
 '6',
 '3',
 '3',
 '10',
 '15',
 '3',
 '17',
 '2']

In [25]:
print(len(Song),len(Artist),len(Last_Week_Rank),len(Peak_Rank),len(Board))

99 99 99 99 99

In [26]:
# Creating DataFrame

import pandas as pd

df=pd.DataFrame()
df['Song name']=Song[:100]
df['Artist Name']=Artist[:100]
df['Last Week Rank']=Last_Week_Rank[:100]
df['Peak Rank']=Peak_Rank[:100]
df['Weeks on board']=Board[:100]
df

,Song name,Artist Name,Last Week Rank,Peak Rank,Weeks on board
0,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,3,1,5
1,Fast Car,Luke Combs,,,2
2,Cruel Summer,Taylor Swift,1,1,24
3,Last Night,Morgan Wallen,,,18
4,Dance The Night,Dua Lipa,2,2,32
5,Snooze,SZA,,,15
6,Fukumean,Gunna,5,3,39
7,Vampire,Olivia Rodrigo,,,12
8,Calm Down,Rema & Selena Gomez,4,1,10
9,Rich Men North Of Richmond,Oliver Anthony Music,,,53
10,Barbie World,Nicki Minaj & Ice Spice With Aqua,9,6,4
11,Flowers,Miley Cyrus,,,11
12,All My Life,Lil Durk Featuring J. Cole,7,7,34
13,Religiously,Bailey Zimmerman,,,17
14,Used To Be Young,Miley Cyrus,10,4,18
15,Hey Driver,Zach Bryan Featuring The War And Treaty,,,2
16,Need A Favor,Jelly Roll,12,1,2
17,Thinkin' Bout Me,Morgan Wallen,,,23
18,Anti-Hero,Taylor Swift,11,3,27
19,Kill Bill,SZA,,,46
20,What Was I Made For?,Billie Eilish,6,1,39
21,Last Time I Saw You,Nicki Minaj,,,8
22,Karma,Taylor Swift Featuring Ice Spice,13,7,1
23,Creepin',"Metro Boomin, The Weeknd & 21 Savage",,,26
24,Bad Idea Right?,Olivia Rodrigo,15,1,40
25,Meltdown,Travis Scott Featuring Drake,,,4
26,Dial Drunk,Noah Kahan With Post Malone,16,2,6
27,Tourniquet,Zach Bryan,,,12
28,Try That In A Small Town,Jason Aldean,21,14,2
29,Qlona,Karol G & Peso Pluma,,,8
...,...,...,...,...,...
69,Tulum,Peso Pluma & Grupo Frontera,,,11
70,Where She Goes,Bad Bunny,51,34,10
71,Angels Don't Always Have Wings,Thomas Rhett,,,16
72,K-POP,"Travis Scott, Bad Bunny & The Weeknd",28,1,7
73,Johnny Dang,"That Mexican OT, Paul Wall & DRODi",,,7
74,Oh U Went,Young Thug Featuring Drake,-,8,8
75,Dawns,Zach Bryan Featuring Maggie Rogers,,,11
76,Jake's Piano - Long Island,Zach Bryan,19,19,19
77,Save Me,Jelly Roll With Lainey Wilson,,,2
78,Oklahoma Smoke Show,Zach Bryan,18,18,12
79,Lose Control,Teddy Swims,,,7
80,Tradesman,Zach Bryan,53,41,4
81,Shake Sumn,DaBaby,,,2
82,Keep Going Up!,"Timbaland, Nelly Furtado & Justin Timberlake",52,40,16
83,Area Codes,Kaliii,,,1
84,Sittin' On Top Of The World,Burna Boy,50,22,18
85,Pretty Little Poison,Warren Zeiders,,,2
86,Oklahoman Son,Zach Bryan,54,43,4
87,TQM,Fuerza Regida,,,2
88,See You Again,"Tyler, The Creator Featuring Kali Uchis",48,17,16
89,Amargura,Karol G,,,20
90,Girl In Mine,Parmalee,-,46,4
91,El Amor de Su Vida,Grupo Frontera & Grupo Firme,,,6
92,Summer Too Hot,Chris Brown,56,35,3
93,Rubicon,Peso Pluma,,,3
94,Stand By Me,Lil Durk Featuring Morgan Wallen,24,24,10
95,Call Your Friends,Rod Wave,,,15
96,Your Heart Or Mine,Jon Pardi,31,31,3
97,Primera Cita,Carin Leon,,,17
98,S91,Karol G,55,26,2

In [27]:
driver.close()

# Question 6 Scrape the details of Highest selling novels.

In [4]:
driver = webdriver.Chrome()

In [5]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [6]:
driver.maximize_window()

In [7]:
# Scrpae all Book Name

b = driver.find_elements(By.XPATH,"//td[2]")

Book=[]

for i in b:
    Book.append(i.text)
    
Book

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [10]:
# Scrpae all Author Name

a = driver.find_elements(By.XPATH,"//td[3]")

Author=[]

for i in a:
    Author.append(i.text)
    
Author

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [11]:
# Scrpae all Volumes Sold

v = driver.find_elements(By.XPATH,"//td[4]")

Sold=[]

for i in v:
    Sold.append(i.text)
    
Sold

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [12]:
# Scrpae all Publisher

p = driver.find_elements(By.XPATH,"//td[5]")

Publisher=[]

for i in p:
    Publisher.append(i.text)
    
Publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [13]:
# Scrpae all Genre

g = driver.find_elements(By.XPATH,"//td[6]")

Genre=[]

for i in g:
    Genre.append(i.text)
    
Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [15]:
print(len(Book),len(Author),len(Sold),len(Publisher),len(Genre))

100 100 100 100 100

In [16]:
# Creating DataFrame 

import pandas as pd

df=pd.DataFrame()
df['Book Name']=Book[:100]
df['Author Name']=Author[:100]
df['Volumes Sold']=Sold[:100]
df['Publisher Name']=Publisher[:100]
df['Genre']=Genre[:100]
df

,Book Name,Author Name,Volumes Sold,Publisher Name,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children's Fiction
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
8,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
10,Fifty Shades Darker,"James, E. L.","2,479,784",Random House,Romance & Sagas
11,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
12,"Girl with the Dragon Tattoo,The:Millennium Tri...","Larsson, Stieg","2,233,570",Quercus,"Crime, Thriller & Adventure"
13,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas
14,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,"Crime, Thriller & Adventure"
15,New Moon,"Meyer, Stephenie","2,152,737","Little, Brown Book",Young Adult Fiction
16,Deception Point,"Brown, Dan","2,062,145",Transworld,"Crime, Thriller & Adventure"
17,Eclipse,"Meyer, Stephenie","2,052,876","Little, Brown Book",Young Adult Fiction
18,"Lovely Bones,The","Sebold, Alice","2,005,598",Pan Macmillan,General & Literary Fiction
19,"Curious Incident of the Dog in the Night-time,The","Haddon, Mark","1,979,552",Random House,General & Literary Fiction
20,Digital Fortress,"Brown, Dan","1,928,900",Transworld,"Crime, Thriller & Adventure"
21,"Short History of Nearly Everything,A","Bryson, Bill","1,852,919",Transworld,Popular Science
22,"Girl Who Played with Fire,The:Millennium Trilogy","Larsson, Stieg","1,814,784",Quercus,"Crime, Thriller & Adventure"
23,Breaking Dawn,"Meyer, Stephenie","1,787,118","Little, Brown Book",Young Adult Fiction
24,"Very Hungry Caterpillar,The:The Very Hungry Ca...","Carle, Eric","1,783,535",Penguin,Picture Books
25,"Gruffalo,The","Donaldson, Julia","1,781,269",Pan Macmillan,Picture Books
26,Jamie's 30-Minute Meals,"Oliver, Jamie","1,743,266",Penguin,Food & Drink: General
27,"Kite Runner,The","Hosseini, Khaled","1,629,119",Bloomsbury,General & Literary Fiction
28,One Day,"Nicholls, David","1,616,068",Hodder & Stoughton,General & Literary Fiction
29,"Thousand Splendid Suns,A","Hosseini, Khaled","1,583,992",Bloomsbury,General & Literary Fiction
...,...,...,...,...,...
70,Stupid White Men:...and Other Sorry Excuses fo...,"Moore, Michael","963,353",Penguin,Current Affairs & Issues
71,"Interpretation of Murder,The","Rubenfeld, Jed","962,515",Headline,"Crime, Thriller & Adventure"
72,Sharon Osbourne Extreme:My Autobiography,"Osbourne, Sharon","959,496","Little, Brown Book",Autobiography: The Arts
73,"Alchemist,The:A Fable About Following Your Dream","Coelho, Paulo","956,114",HarperCollins,General & Literary Fiction
74,At My Mother's Knee ...:and Other Low Joints,"O'Grady, Paul","945,640",Transworld,Autobiography: The Arts
75,Notes from a Small Island,"Bryson, Bill","931,312",Transworld,Travel Writing
76,"Return of the Naked Chef,The","Oliver, Jamie","925,425",Penguin,Food & Drink: General
77,Bridget Jones: The Edge of Reason,"Fielding, Helen","924,695",Pan Macmillan,General & Literary Fiction
78,Jamie's Italy,"Oliver, Jamie","906,968",Penguin,National & Regional Cuisine
79,I Can Make You Thin,"McKenna, Paul","905,086",Transworld,Fitness & Diet
80,Down Under,"Bryson, Bill","890,847",Transworld,Travel Writing
81,"Summons,The","Grisham, John","869,671",Random House,"Crime, Thriller & Adventure"
82,Small Island,"Levy, Andrea","869,659",Headline,General & Literary Fiction
83,Nigella Express,"Lawson, Nigella","862,602",Random House,Food & Drink: General
84,Brick Lane,"Ali, Monica","856,540",Transworld,General & Literary Fiction
85,"Memory Keeper's Daughter,The","Edwards, Kim","845,858",Penguin,General & Literary Fiction
86,Room on the Broom,"Donaldson, Julia","842,535",Pan Macmillan,Picture Books
87,About a Boy,"Hornby, Nick","828,215",Penguin,General & Literary Fiction
88,My Booky Wook,"Brand, Russell","820,563",Hodder & Stoughton,Autobiography: The Arts
89,"God Delusion,The","Dawkins, Richard","816,907",Transworld,Popular Science
90,"""Beano"" Annual,The",0,"816,585",D.C. Thomson,Children's Annuals
91,White Teeth,"Smith, Zadie","815,586",Penguin,General & Literary Fiction
92,"House at Riverton,The","Morton, Kate","814,370",Pan Macmillan,General & Literary Fiction
93,"Book Thief,The","Zusak, Markus","809,641",Transworld,General & Literary Fiction
94,Nights of Rain and Stars,"Binchy, Maeve","808,900",Orion,General & Literary Fiction
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [17]:
driver.close()

# Question 7. Scrape the details most watched tv series of all time from imdb.com.

In [4]:
driver = webdriver.Chrome()

In [5]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [6]:
driver.maximize_window()

In [9]:
# Scrape All Series name

n = driver.find_elements(By.XPATH,"//h3/a")
Name=[]

for i in n:
    Name.append(i.text)
    
Name

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [10]:
# Scrape Year of span

s = driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
Year=[]

for i in s:
    Year.append(i.text)
    
Year

['(2011–2019)',
 '(2016–2025)',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017–2023)',
 '(2005– )',
 '(2014–2023)',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011– )',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(I) (2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016–2022)',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019–2023)',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018–2024)',
 '(2006–2013)',
 '(2015–2023)',
 '(1999– )',
 '(2013–2023)',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016–2022)',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019–2023)',
 '(2014– )',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017–2022)',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016–2023)',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005– )',
 '(2015–2019)',
 '(2018)']

In [11]:
# Scrape Genre

g = driver.find_elements(By.XPATH,"//span[@class='genre']")

Genre=[]

for i in g:
    Genre.append(i.text)
    
Genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Drama, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [12]:
# Scrape runtime

t = driver.find_elements(By.XPATH,"//span[@class='runtime']")

Time=[]

for i in t:
    Time.append(i.text)
    
Time

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [37]:
# Scrape rating

r = driver.find_elements(By.XPATH,"//div[@id='main']/div/div[3]/div[3]/div/div[2]/div/div/span[2]")

#//*[@id="main"]/div/div[3]/div[3]/div[3]/div[2]/div[1]/div[1]/span[2]

Ratings=[]

for i in r:
    Ratings.append(i.text)
    
Ratings

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8',
 '6.5',
 '7.6',
 '7.5',
 '7.5',
 '8.2',
 '8.2',
 '8.7',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.4',
 '8.5',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8',
 '8.7',
 '8.7',
 '7.3',
 '8.3',
 '8.5',
 '7.8',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.3',
 '6.8',
 '8.4',
 '7.4',
 '8',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '7.9',
 '8.9',
 '7.8',
 '7.6',
 '9',
 '8.1',
 '8.5',
 '8.2',
 '7.3',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.2',
 '8.6',
 '9.3',
 '7.8',
 '7.5',
 '7.8',
 '8.1',
 '7',
 '8.6']

In [21]:
# Scrape votes

v = driver.find_elements(By.XPATH,"//span[@name='nv']")

Votes=[]

for i in v:
    Votes.append(i.text)
    
Votes

['2,203,091',
 '1,274,894',
 '1,045,366',
 '307,232',
 '266,340',
 '313,766',
 '151,589',
 '328,407',
 '363,077',
 '440,949',
 '507,681',
 '840,761',
 '610,591',
 '966,359',
 '561,477',
 '174,383',
 '338,055',
 '331,537',
 '2,035,944',
 '342,890',
 '466,681',
 '561,965',
 '160,879',
 '158,607',
 '423,920',
 '232,051',
 '451,865',
 '460,618',
 '1,045,044',
 '710,655',
 '449,141',
 '405,607',
 '143,296',
 '127,769',
 '185,510',
 '159,637',
 '237,022',
 '520,757',
 '221,888',
 '461,312',
 '567,101',
 '67,974',
 '209,122',
 '520,321',
 '420,308',
 '86,654',
 '312,012',
 '264,177',
 '237,887',
 '222,739',
 '284,469',
 '746,741',
 '137,971',
 '355,095',
 '270,984',
 '577,382',
 '605,975',
 '489,437',
 '62,840',
 '114,614',
 '353,378',
 '77,292',
 '108,409',
 '250,145',
 '103,452',
 '107,304',
 '56,172',
 '153,073',
 '394,492',
 '342,185',
 '110,235',
 '263,480',
 '608,140',
 '110,602',
 '135,316',
 '603,974',
 '113,625',
 '253,932',
 '98,814',
 '24,160',
 '152,244',
 '178,254',
 '136,518',
 '40,115',
 '315,140',
 '123,024',
 '136,595',
 '77,814',
 '113,387',
 '215,116',
 '31,290',
 '194,243',
 '234,117',
 '820,001',
 '72,044',
 '52,701',
 '64,753',
 '210,952',
 '43,879',
 '265,717']

In [38]:
print(len(Name),len(Year),len(Genre),len(Time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [39]:
# Creating DataFrame

import pandas as pd

df=pd.DataFrame()
df['Name']=Name[:100]
df['Year']=Year[:100]
df['Genre']=Genre[:100]
df['Time']=Time[:100]
df['Ratings']=Ratings[:100]
df['Votes']=Votes[:100]
df

,Name,Year,Genre,Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,203,091"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,274,894"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,045,366"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"307,232"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"266,340"
5,Orange Is the New Black,(2013–2019),"Comedy, Crime, Drama",59 min,8,"313,766"
6,Riverdale,(2017–2023),"Crime, Drama, Mystery",45 min,6.5,"151,589"
7,Grey's Anatomy,(2005– ),"Drama, Romance",41 min,7.6,"328,407"
8,The Flash,(2014–2023),"Action, Adventure, Drama",43 min,7.5,"363,077"
9,Arrow,(2012–2020),"Action, Adventure, Crime",42 min,7.5,"440,949"
10,Money Heist,(2017–2021),"Action, Crime, Drama",70 min,8.2,"507,681"
11,The Big Bang Theory,(2007–2019),"Comedy, Romance",22 min,8.2,"840,761"
12,Black Mirror,(2011– ),"Drama, Mystery, Sci-Fi",60 min,8.7,"610,591"
13,Sherlock,(2010–2017),"Crime, Drama, Mystery",88 min,9.1,"966,359"
14,Vikings,(2013–2020),"Action, Adventure, Drama",44 min,8.5,"561,477"
15,Pretty Little Liars,(2010–2017),"Drama, Mystery, Romance",44 min,7.4,"174,383"
16,The Vampire Diaries,(2009–2017),"Drama, Fantasy, Horror",43 min,7.7,"338,055"
17,American Horror Story,(2011– ),"Drama, Horror, Sci-Fi",60 min,8,"331,537"
18,Breaking Bad,(2008–2013),"Crime, Drama, Thriller",49 min,9.5,"2,035,944"
19,Lucifer,(2016–2021),"Crime, Drama, Fantasy",42 min,8.1,"342,890"
20,Supernatural,(2005–2020),"Drama, Fantasy, Horror",44 min,8.4,"466,681"
21,Prison Break,(2005–2017),"Action, Crime, Drama",44 min,8.3,"561,965"
22,How to Get Away with Murder,(2014–2020),"Crime, Drama, Mystery",43 min,8.1,"160,879"
23,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"158,607"
24,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"423,920"
25,Once Upon a Time,(2011–2018),"Adventure, Fantasy, Romance",60 min,7.7,"232,051"
26,Narcos,(I) (2015–2017),"Biography, Crime, Drama",49 min,8.8,"451,865"
27,Daredevil,(2015–2018),"Action, Crime, Drama",54 min,8.6,"460,618"
28,Friends,(1994–2004),"Comedy, Romance",22 min,8.9,"1,045,044"
29,How I Met Your Mother,(2005–2014),"Comedy, Drama, Romance",22 min,8.3,"710,655"
...,...,...,...,...,...,...
70,Under the Dome,(2013–2015),"Drama, Mystery, Sci-Fi",43 min,6.5,"110,235"
71,The Umbrella Academy,(2019–2023),"Action, Adventure, Comedy",60 min,7.9,"263,480"
72,True Detective,(2014– ),"Crime, Drama, Mystery",55 min,8.9,"608,140"
73,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"110,602"
74,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"135,316"
75,Better Call Saul,(2015–2022),"Crime, Drama",46 min,9,"603,974"
76,Bates Motel,(2013–2017),"Drama, Horror, Mystery",45 min,8.1,"113,625"
77,The Punisher,(2017–2019),"Action, Crime, Drama",53 min,8.5,"253,932"
78,Atypical,(2017–2021),"Comedy, Drama",30 min,8.2,"98,814"
79,Dynasty,(2017–2022),Drama,42 min,7.3,"24,160"
80,This Is Us,(2016–2022),"Comedy, Drama, Romance",45 min,8.7,"152,244"
81,The Good Place,(2016–2020),"Comedy, Drama, Fantasy",22 min,8.2,"178,254"
82,Iron Fist,(2017–2018),"Action, Adventure, Crime",55 min,6.4,"136,518"
83,The Rain,(2018–2020),"Drama, Sci-Fi, Thriller",45 min,6.3,"40,115"
84,Mindhunter,(2017–2019),"Crime, Drama, Mystery",60 min,8.6,"315,140"
85,Revenge,(2011–2015),"Drama, Mystery, Thriller",44 min,7.8,"123,024"
86,Luke Cage,(2016–2018),"Action, Crime, Drama",55 min,7.3,"136,595"
87,Scandal,(2012–2018),"Drama, Thriller",43 min,7.7,"77,814"
88,The Defenders,(2017),"Action, Adventure, Crime",50 min,7.2,"113,387"
89,Big Little Lies,(2017–2019),"Crime, Drama, Mystery",60 min,8.5,"215,116"
90,Insatiable,(2018–2019),"Comedy, Drama, Thriller",45 min,6.5,"31,290"
91,The Mentalist,(2008–2015),"Crime, Drama, Mystery",43 min,8.2,"194,243"
92,The Crown,(2016–2023),"Biography, Drama, History",58 min,8.6,"234,117"
93,Chernobyl,(2019),"Drama, History, Thriller",330 min,9.3,"820,001"
94,iZombie,(2015–2019),"Comedy, Crime, Drama",42 min,7.8,"72,044"
95,Reign,(2013–2017),Drama,42 min,7.5,"52,701"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,753"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,952"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,879"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"265,717"

In [40]:
driver.close()

# Question 8 Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/

In [4]:
driver = webdriver.Chrome()

In [5]:
url='https://archive.ics.uci.edu/'
driver.get(url)

In [6]:
driver.maximize_window()

In [7]:
d = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a")
d.click()

In [24]:
#m = driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select")
#m.click()

In [22]:
# Scrape Dataset name

n = driver.find_elements(By.XPATH,"//h2/a")

Dataset=[]

for i in n[:10]:
    Dataset.append(i.text)
    
Dataset

['Iris',
 'Heart Disease',
 'Adult',
 'Dry Bean Dataset',
 'Diabetes',
 'Wine',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Car Evaluation',
 'Rice (Cammeo and Osmancik)',
 'Mushroom']

In [23]:
# Scrape Data type

d = driver.find_elements(By.XPATH,"//div/div[2]/span")

Data=[]

for i in d[:10]:
    Data.append(i.text)
    
Data

['Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 '',
 'Tabular',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate']

In [24]:
# Scrape Task

t = driver.find_elements(By.XPATH,"//div/div[1]/span")

Task=[]

for i in t[:10]:
    Task.append(i.text)
    
Task

['Classification',
 'Classification',
 'Classification',
 'Classification',
 '',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification']

In [25]:
# Scrape Instances

ins = driver.find_elements(By.XPATH,"//div/div[3]/span")

Instances=[]

for i in ins[:10]:
    Instances.append(i.text)
    
Instances

['150 Instances',
 '303 Instances',
 '48.84K Instances',
 '13.61K Instances',
 '',
 '178 Instances',
 '569 Instances',
 '1.73K Instances',
 '3.81K Instances',
 '8.12K Instances']

In [26]:
# Scrape Attribute

at = driver.find_elements(By.XPATH,"//div/div[4]/span")

Attribute=[]

for i in at[:10]:
    Attribute.append(i.text)
    
Attribute

['4 Features',
 '13 Features',
 '14 Features',
 '16 Features',
 '20 Features',
 '13 Features',
 '30 Features',
 '6 Features',
 '8 Features',
 '22 Features']

In [20]:
# Scrape Year

yr = driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[2]/div/table/tbody/tr/td[3]") 
Year=[]

for i in yr:
    Year.append(i.text)
    
Year

[]

In [27]:
print(len(Dataset),len(Data),len(Task),len(Instances))

10 10 10 10

In [29]:
# Creating DataFrame

import pandas as pd

df = pd.DataFrame()
df['Dataset Name']=Dataset[:10]
df['Data Type']=Data[:10]
df['Task']=Task[:10]
df['Instances']=Instances[:10]
df

,Dataset Name,Data Type,Task,Instances
0,Iris,Tabular,Classification,150 Instances
1,Heart Disease,Multivariate,Classification,303 Instances
2,Adult,Multivariate,Classification,48.84K Instances
3,Dry Bean Dataset,Multivariate,Classification,13.61K Instances
4,Diabetes,,,
5,Wine,Tabular,Classification,178 Instances
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,569 Instances
7,Car Evaluation,Multivariate,Classification,1.73K Instances
8,Rice (Cammeo and Osmancik),Multivariate,Classification,3.81K Instances
9,Mushroom,Multivariate,Classification,8.12K Instances

In [30]:
driver.close()